# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
#here earlier i was keeping ./ infront of client and it didnt work, so removed
client/node_modules/
server/node_modules/

client/.pnp
client/.pnp.js

# testing
client/coverage

# production
client/build
server/build

#server env file
server/.env

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

rough.txt
rough1.txt
testing.txt
documentation.txt
difficulties.txt
gitnote.txt
gitnoteReference
# google auth client details
client_secret_google_auth.json

localDB1_1.jpeg

#codes and outputs
server/codes
server/outputs

/.vscode

keys
